In [5]:
import os 
import re
import numpy as np 
import pandas as pd
from collections import OrderedDict

In [6]:
log_file = 'hdfs/HDFS_100k.log_structured.csv'
window='session'
window_size=0

assert window == 'session', "Only window=session is supported for HDFS dataset."
print("Loading", log_file)
struct_log = pd.read_csv(log_file, engine='c', na_filter=False, memory_map=True)
data_dict = OrderedDict()
hdfs_templates = OrderedDict()

Loading hdfs/HDFS_100k.log_structured.csv

In [7]:
for idx, row in struct_log.iterrows():
    if not row["EventId"] in hdfs_templates:
        hdfs_templates[row["EventId"]] = row["EventTemplate"]
hdfs_templates_df = pd.DataFrame(list(hdfs_templates.items()), columns=['EventId', 'EventTemplate'])
hdfs_templates_df.to_csv("hdfs/HDFS_templates.csv",index=None)

In [8]:
for idx, row in struct_log.iterrows():
    blkId_list = re.findall(r'(blk_-?\d+)', row['Content'])
    blkId_set = set(blkId_list)
    for blk_Id in blkId_set:
        if not blk_Id in data_dict:
            data_dict[blk_Id] = []
        data_dict[blk_Id].append(row['EventId'])


data_df = pd.DataFrame(list(data_dict.items()), columns=['BlockId', 'EventSequence'])

In [9]:
data_df

,BlockId,EventSequence
0,blk_-1608999687919862906,"[E5, E22, E5, E5, E11, E11, E9, E9, E11, E9, E..."
1,blk_7503483334202473044,"[E5, E5, E22, E5, E11, E9, E11, E9, E11, E9, E..."
2,blk_-3544583377289625738,"[E5, E22, E5, E5, E11, E9, E11, E9, E11, E9, E..."
3,blk_-9073992586687739851,"[E5, E22, E5, E5, E11, E9, E11, E9, E11, E9, E..."
4,blk_7854771516489510256,"[E5, E5, E22, E5, E11, E9, E11, E9, E11, E9, E..."
...,...,...
7935,blk_-1445970677921829671,"[E22, E5, E5, E5, E11, E9, E11, E9, E26, E26, ..."
7936,blk_-5943236831140622436,"[E22, E5, E5, E5, E26, E26, E26, E11, E9, E11,..."
7937,blk_-5039164935117450945,"[E22, E5, E5, E5, E26, E26, E11, E9, E11, E9, ..."
7938,blk_7379833155074044619,"[E22, E5, E5, E5, E26, E26, E11, E9, E11, E9, ..."
7939,blk_8909107483987085802,"[E22, E5, E5, E5, E26, E26, E11, E9, E11, E9, ..."